@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Sargento Gorila';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url('../../public/fonts/sargento-gorila.ttf');
}

@font-face {
  font-family: 'Game of Thrones';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../../public/fonts/got.ttf');
}

@font-face {
  font-family: 'Instrument Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../../public/fonts/instrument-sans.ttf');
}

body {
  background-color: black;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }

  /* Global scrollbar styling for the body */
  body::-webkit-scrollbar {
    width: 12px;
  }

  body::-webkit-scrollbar-track {
    background: #27272a; /* Approximation of zinc-800 */
  }

  body::-webkit-scrollbar-thumb {
    background-color: #7e22ce; /* Approximation of purple-600 */
    border-radius: 6px;
    border: 3px solid #27272a; /* Matches track background */
  }

  body::-webkit-scrollbar-thumb:hover {
    background-color: #8b5cf6; /* Approximation of purple-500 */
  }
}

/* Admin Button Styles */
.adminButton {
  background: radial-gradient(ellipse at center, #a383e6, #9158ff, #9158ff);
  color: white;
  transition: all 0.3s;
}

.adminButton:hover {
  box-shadow: 0 4px 6px -1px rgba(63, 42, 103, 0.9);
}

.my-scrollbar::-webkit-scrollbar {
  width: 12px;
}

.my-scrollbar::-webkit-scrollbar-track {
  background: #27272a; /* Approximation of zinc-800 */
}

.my-scrollbar::-webkit-scrollbar-thumb {
  background-color: #7e22ce; /* Approximation of purple-600 */
  border-radius: 6px;
  border: 3px solid #27272a; /* Matches track background */
}

.my-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #8b5cf6; /* Approximation of purple-500 */
}
